/115Calendar.pdf
/237074.jpg
/Access.lnk
/AI 貼文自動化 ( 穩定圖+文控制 ) + 排程 + 資料篩選.json
/Anaconda Navigator.lnk
/Chrome 遠端桌面.lnk
/desktop.ini
/Excel.lnk
/Gemini_Generated_Image_23wqn223wqn223wq.png
/Gemini_Generated_Image_tknfbitknfbitknf.png
/Granado Espada.lnk
/heroic-gantry-463909-t5-069cc6beb118.json
/JJ - Chrome.lnk
/LINE.lnk
/MSI Center.lnk
/PokemonCardArbitrage_bot
/PowerPoint.lnk
/python server 相關資料
/Sonic Rumble.url
/S__18825308_0.jpg
/S__18825309_0.jpg
/S__18825310.jpg
/S__18825311.jpg
/Telegram.lnk
/Visual Studio Code.lnk
/Word.lnk
/《迪士尼無限飛車》— Disney Speedstorm.url
/大富翁11.url
/新人相關
/私人
/論文
/陳傳仁.pdf